// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import '~@uppy/core/dist/style.css';
@import '~@uppy/dashboard/dist/style.css';
@import '../../../apps-common/themes/silo/typography-configs';
@import '../../../apps-common/themes/silo/foreground-configs';
@import '../../../apps-common/themes/silo/background-configs';
@import '../../../apps-common/styles/sticky-layout';

// **Be sure that you only ever include this mixin once!**
@include mat.core($typography-config);

// Theme Init
@import '../../../apps-common/themes/silo/light-theme';
@import '../../../libs/silo/ngx-lib/src/styles/silo-ngx-lib-theme';

@include mat.all-component-themes($light-theme);
@include silo-ngx-lib-theme($light-theme, $light-custom-theme);
